<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon.png" />

<!-- Adsense -->
<script data-ad-client="ca-pub-4357926182955279" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- end custom head snippets -->
